/** @format */

.cashier-form {
	padding-top: 5%;
	padding-bottom: 30%;
}

.chart {
	padding-left: 150px;
}
.item {
	padding-top: 10px;
}
.check-out {
	margin-top: 20px;
}
.check-out-spinner {
	margin-top: 20px;
	color: #007bff;
}
.x {
	background-color: transparent;
	color: black;
}
.x:hover {
	text-decoration: none;
	color: black;
}
.x:active {
	text-decoration: none;
	color: black;
}
